html {
    color: #1c1c1c;
    font-size: 18px;
    font-family: "Jost", Arial, sans-serif;
    letter-spacing: .04em;
    scroll-behavior: smooth;
    min-height: 100%;
    margin: 0 auto;
    background-color: #f5f5f5;
}

* {
    box-sizing: border-box
}

.centered {
    text-align: center;
}
#main {
    top: 0;
    left: 0;
}

#main,
#main tr td {
    padding: 0;
    border: 0;
    outline: 0;
    border-collapse: collapse;
    float: left;
    table-layout: fixed;
}

#navtd {
    width: 270px;
    height: 100vw;
    background-color: #4788cf;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

#about {
    width: calc(100vw - 290px);
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
}