html {
    color: #1c1c1c;
    font-size: 18px;
    font-family: "Jost", Arial, sans-serif;
    letter-spacing: .04em;
    scroll-behavior: smooth;
    min-height: 100%;
    margin: 0 auto;
    background-color: #f5f5f5;
}

* {
    box-sizing: border-box
}

.centered {
    text-align: center;
}
#main {
    top: 0;
    left: 0;
}

#main,
#main tr td {
    padding: 0;
    border: 0;
    outline: 0;
    border-collapse: collapse;
    float: left;
    table-layout: fixed;
}

.sidenav {
  height: 100%; 
  width: 160px; 
  position: fixed;
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 20px;
}

#sidebarname {
  color: whitesmoke
  
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}
